.hero{
    position: relative;
    display: grid;
    place-items: center;
    height: 90vh;
    background-color: var(--primary-color);
    color: var(--background);
    text-align: center;
}

.curve{
    width: 100%;
    height: auto;
    margin-top: -2px;
}


.hero__content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__title{
    width: 100%;
}

.hero__content p{
    font-size: 1.2em;
    padding-bottom: 40px;
}

.hero__icon{
    position: absolute;
    width: 40vw;
    max-width: 200px;
}

.hero__icon--lightbulb{
    top: -20vh;
    left: 0vw;
}

.hero__icon--ship{
    bottom: -20vh;
    right: 0vw;
}

@media (min-width: 768px) {
    html{
        font-size: 16px;
    }
    .hero__title{
        width: 70%;
    }

    .hero__content p{
        font-size: 1.6em;
        padding: 0 40px 40px 40px;
    }
  }
