.about-us{
    display: grid;
    place-items: center;
    height: 100vh;
}

.about-us__content{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 24px;
}


.about-us__title{
    width: 100%;
}

.about-us__content p{
    font-size: 1.6em;
}

.about-us__image{
    position: absolute;
    width: 30vw;
    min-width: 200px;
    max-width: 398px;
}

.about-us svg{
    position: absolute;
    height: 150vh;
}

.image-left{
    top: -200px;
    left: 0;
}

.image-right{
    bottom: -200px;
    right: 0;
}


@media (min-width: 768px){
    .about-us__content{
        width: 70%;
    }

    .image-left{
        top: -300px;
        left: -200px;
    }
    
    .image-right{
        bottom: -300px;
        right: -200px;
    }
    .about-us__title{
        width: 70%;
    }
    
}