.call-to-action{
    display: flex;
    align-items: center;
    max-height: 44px;
    padding: 2vh;
    font-size: 1.2em;
    border-radius: 50px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}