.call-to-action{
    display: flex;
    align-items: center;
    height: 44px;
    padding: 24px;
    font-size: 1.4em;
    border-radius: 50px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}