header{
    display: flex;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    height: 108px;
}

nav{
    font-weight: 400;
    font-size: 1.5em;
    width: 70%;
}

header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 58px;
    padding: 0 16px;
    color: var(--secondary-color)
}

.nav__link--focused{
    border-radius: 50px;
    background-color: var(--tertiary-color);
}