:root{
  --primary-color: #7782A5;
  --secondary-color: #475475;
  --tertiary-color: #EBC9C8;
  --background: #F8F9FD;

}
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand.ttf');
  font-weight: 300;
}


@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Storystone';
  src: url('./assets/fonts/Storystone.ttf');
  font-weight: 400;
}